body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937; 
    padding: 10px 100px 10px;
    margin: 0px;
}

.logo {
    font-size: 24px;
    font-weight: bold; 
    color: #F9FAF8;
    display: flex;
}

.header-links, a {
    display: flex;
    align-content: center;
    gap: 18px;
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.subhead {
    display: flex;
    justify-content: space-between;
    gap: 36px;
    padding: 100px 100px 100px;
    margin: 0px;
    background-color: #1F2937; 
    color: #E5E7EB;
}

.title, h1, p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    flex: 1 1 0;
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    line-height: 1;
}

p, button {
    font-size: 18px;
}

button[type="button-1"] {
    background-color: #3882F6;
    color: #E5E7EB;
    align-self: flex-start;
    border: none;
    border-radius: 8px;
    padding: 6px 24px;
    font-weight: bold;
}

.image {
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

h2 {
    text-align: center;
    padding: 50px 25px 100 100;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 10px 100px;
    margin-bottom: 100px;
}

.box {
    border: 5px solid #3882F6;
    border-radius: 8px;
    border-width: 8px;
    height: 200px;
    width: 200;
    margin-bottom: 5px;
}

.section {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 0 0 200px; 
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    font-size: 36px; 
    padding: 100px 100px;
}

.action {
    display: flex;
    background-color: #3882F6;
    color: #E5E7EB; 
    border-radius: 8px;
}

